services:
    backend:
        build:
            context: .
            dockerfile: Dockerfile.backend
        container_name: daybook-backend
        network_mode: host
        volumes:
            - daybook-data:/data
        environment:
            - DATABASE_URL=sqlite:////data/database.db

    frontend:
        build:
            context: .
            dockerfile: Dockerfile.frontend
        container_name: daybook-frontend
        network_mode: host
        depends_on:
            - backend

volumes:
    daybook-data:
        driver: local
